<hr />
<div class="med-padding"></div>
    <div class="social-block">
        <div class="header-title">
            <div class="fa-social-background ig-blue inline">
                <i class="fa fa-instagram">&nbsp;</i>
            </div>
            <div class="inline">
                <p class="social-hdr">Instagram</p>
            </div>
        </div>
        <div class="instagram-container">
            <a href="{{ nodes[0]['link'] }}" target="_blank">
                <div class="ig_article ig-content inline">
                    <div class="post_image" style="background-image: url('{{ nodes[0]['images']['low_resolution']['url'] }}')"></div>
                </div>
            </a>
            <a href="{{ nodes[1]['link'] }}" target="_blank">
                <div class="ig_article ig-content inline">
                    <div class="post_image" style="background-image: url('{{ nodes[1]['images']['low_resolution']['url']}}')"></div>
                </div>
            </a>
            <div class="ig_article ig-content-wide inline">
                {% for i in 2..7 %}
                    {% if nodes[i] != null %}
                        {% if i < 2 %}
                            <div class="ig_article ig-content inline">
                                <div class="post_image">
                                    <a href="{{ nodes[i]['link'] }}" target="_blank">
                                        <img src="{{ nodes[i]['images']['low_resolution']['url'] }}" />
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="small_ig_article small_ig-content inline">
                                <div class="small_post_image inline">
                                    <a href="{{ nodes[i]['link'] }}" target="_blank">
                                        <img src="{{ nodes[i]['images']['low_resolution']['url'] }}" />
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="med-padding"></div>
<hr />