<div class="med-padding"></div>
    <div class="social-block">
        <div class="header-title">
            <div class="fa-social-background ig-blue inline">
                <i class="fa fa-twitter">&nbsp;</i>
            </div>
            <div class="inline">
                <p class="social-hdr">Twitter</p>
            </div>
        </div>
        <div class="twitter-container">
            <div class="profile-data">
                <img src="/themes/swedishamerican/images/logo.png" />
                <a href="https://twitter.com/SAHealthSystem" target="_blank">SwedishAmerican</a>
                {% set dateArray = tweet[0]['created_at']|split(' ') %}
                {{ dateArray[1] }} {{ dateArray[2] }}
            </div>
            <div class="tweet-data">
                {% set tweetData = tweet[0]['text']|split('https://') %}
                <div class="tweet-text">
                    {{ tweetData[0] }}
                </div>
                <div class="tweet-link">
                    <a href="https://{{ tweetData[1] }}" target="_blank">https://{{ tweetData[1] }}</a>
                </div>
            </div>
        </div>
    </div>
</div>