{# <div class="card-search-form">
    <h2>Location Search</h2>
    <select id="location-search-form-name" name="location">
        <option value="location">Location</option>
        {% for key, location in locations %}
            <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
    </select>
    <select id="location-search-form-city" name="city">
        <option value="location">City</option>
        {% for key, city in cities %}
            <option value="{{ key }}">{{ city }}</option>
        {% endfor %}
    </select>
    <select id="location-search-form-service" name="service">
        <option value="service">Service</option>
        {% for key, service in serviceNodes %}
            <option value="{{ key }}">{{ service }}</option>
        {% endfor %}
    </select>
    <button class="button js-form-submit form-submit btn-info btn location-search-form-button" type="submit" id="edit-submit--location" name="op" value="Apply">Search</button>
</div> #}

<div class="card-search-form">
    <h2>Location Search</h2>
    <select id="location-search-form-name" name="name_1">
        <option value="location">Location Name</option>
        {% for key, location in locations %}
            <option value="{{ loop.index }}">{{ location }}</option>
        {% endfor %}
    </select>
    <input id="location-search-form-city" type="text" name="city" placeholder="City" />
    <button class="button js-form-submit form-submit btn-info btn location-search-form-button" type="submit" id="edit-submit--location" name="op" value="Apply">Search</button>
</div>