<div class="clearfix"></div>
<div class="providers-container">
    {% for node in nodes %}
        <div class="lightBox inline">
            <div class="card-provider" data-tag="{{ path('entity.node.canonical', {'node': node.id}) }} #node_{{ node.id }}">
                {% if node.field_provider_type != null %}
                    {% if node.field_provider_type.value == 'Swedes Provider' %}
                        <div class="card-provider-btn-icon"></div>
                        {% set swedes_provider_group = 'internal-provider' %}
                        {% set swedes_provider_group_bkgrd = 'card-provider-bkgrd-group' %}
                        {% set swedes_provider_group_btn = 'card-provider-btn-group' %}
                        {% set provider_image_container = 'views-field-field-image' %}
                        {% set provider_title = 'card-provider-title' %}
                    {% elseif node.field_provider_type.value == 'UW Doctor' %}
                        <div class="card-provider-btn-uw-icon"></div>
                        {% set swedes_provider_group = 'uw-provider' %}
                        {% set swedes_provider_group_bkgrd = 'card-provider-bkgrd-uw' %}
                        {% set swedes_provider_group_btn = 'card-provider-btn-uw' %}
                        {% set provider_image_container = 'views-field-field-image-uw' %}
                        {% set provider_title = 'card-provider-title-uw' %}
                    {% elseif node.field_provider_type.value == 'Courtesy' %}
                        {% set swedes_provider_group = 'external-provider' %}
                        {% set swedes_provider_group_bkgrd = 'card-provider-bkgrd' %}
                        {% set swedes_provider_group_btn = 'card-provider-btn' %}
                        {% set provider_image_container = 'views-field-field-image' %}
                        {% set provider_title = 'card-provider-title' %}
                    {% else  %}
                        <div class="card-provider-btn-icon"></div>
                        {% set swedes_provider_group = 'internal-provider' %}
                        {% set swedes_provider_group_bkgrd = 'card-provider-bkgrd-group' %}
                        {% set swedes_provider_group_btn = 'card-provider-btn-group' %}
                        {% set provider_image_container = 'views-field-field-image' %}
                        {% set provider_title = 'card-provider-title' %}
                    {% endif %}
                {% else %}
                    <div class="card-provider-btn-icon"></div>
                        {% set swedes_provider_group = 'internal-provider' %}
                        {% set swedes_provider_group_bkgrd = 'card-provider-bkgrd-group' %}
                        {% set swedes_provider_group_btn = 'card-provider-btn-group' %}
                        {% set provider_image_container = 'views-field-field-image' %}
                        {% set provider_title = 'card-provider-title' %}
                {% endif %}

                {% if node.field_display_as_new.value == 1 %}
                    <div class="new-provider"></div>
                {% endif %}

                <div class="{{ provider_image_container }}">
                    <div class="field-content">
                        <img src="{{ file_url(node.field_image.entity.uri.value) }}" typeof="foaf:Image" class="img-responsive" data-tag="{{ file_url(node.field_image.entity.uri.value) }}">
                    </div>
                </div>

                <div class="{{ swedes_provider_group }}">
                    <div class="{{ swedes_provider_group_bkgrd }}">
                        <div class="{{ provider_title }}">
                            {% if node.field_provider_name|length > 0 %}
                                <strong>{{ node.field_provider_name.value }}</strong>
                            {% else %}
                                <strong>{{ node.label }}</strong>
                            {% endif %}
                        </div>
                            <div class="card-provider-special">
                                {% if node.field_specialty.entity.name.value != null %}
                                    {{ node.field_specialty.entity.name.value }}
                                {% endif %}
                            </div>
                    </div>
                </div> 
                <div class="{{ swedes_provider_group_btn }}">More Information <i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    {% endfor %}
</div>